.header {
        top: 0;
        left: 0;
        .headercontainer   {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width:768px) {
            padding: 0 12px 0 20px;
        }
    }

    .header__logo {
        max-width: 120px;
        width: 100%;

        @media (max-width:768px) { 
            max-width: 64px;
    }
}
    .header_links {
        display: flex;
    }
        .header__links__item {
            margin: 5px;
        }

        .but {
            height: 100px;
        }

        @media (max-width:768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }

}

.resgate {
    color: #fff;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}