@use '_hero.scss';
@use '_header.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

$corDeFundo:black;
$corTextoPincipal:silver;
$corTextoSecundario:#f9f9f9;

body {
    background-color:$corDeFundo;
}

@mixin text ($fontSize : 24px) {
    font-size: $fontSize;
    line-height: $fontSize;
    color:$corTextoPincipal;
}

@mixin title ($fontSize:10px) {
    @include text($fontSize);
    color:$corTextoSecundario;
}

.text--big {
    @include text (56px);

    @media (max-width:768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width:768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(20px);

    @media (max-width:768px) {
        @include text(11px);
    }
}

.title--big {
    @include title(48px);

    @media (max-width:768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width:768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);
    

    @media (max-width:768px) {
        @include title(22px);
    }
}


.link-text {
    @include text (18px);
    color:$corTextoSecundario;
}
                

